{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1>Definir un nouveau mot de passe</h1>
    <p class="muted">Ce lien expire le {{ expiresAt|date('d/m/Y H:i') }}.</p>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword.first) }}
        {{ form_row(resetForm.plainPassword.second) }}
        <button type="submit">Mettre a jour</button>
    {{ form_end(resetForm) }}
{% endblock %}
