{% extends 'base.html.twig' %}

{% block title %}Espace employe{% endblock %}

{% block body %}
    <h1>Espace Employe</h1>
    <p>Zone reservee aux employes et administrateurs.</p>
    <p><a href="{{ path('app_employee_orders') }}">Acceder a la gestion des commandes</a></p>
    <p><a href="{{ path('app_employee_reviews') }}">Acceder a la moderation des avis</a></p>
    <p><a href="{{ path('app_employee_hours') }}">Acceder a la gestion des horaires</a></p>
    <p><a href="{{ path('app_employee_menus') }}">Acceder a la gestion des menus</a></p>
    <p><a href="{{ path('app_employee_plats') }}">Acceder a la gestion des plats</a></p>
    <p><a href="{{ path('app_employee_allergenes') }}">Acceder a la gestion des allergenes</a></p>
{% endblock %}
